*{
margin: 0;
padding: 0;
}

/*
    Identação e formatação dos textos
*/
.title-convert{
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   flex-direction: row;
   padding: 20px;
}

/*                              */
.container {  display: grid;
    grid-template-columns: 2fr ;
    grid-template-rows: 1fr 1fr ;
}
#text-input{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#texto{
    display: flex;
    padding: 20px;
    width: 900px;
    height: 300px;
    border-radius: 10px;
    outline: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
}

                        /* Formatação dos buttons*/
.buttons{
    flex-wrap: wrap;
    padding: 20px;
}

.btn-mai, .btn-min, .btn-clear, .btn-prim{
    background-image: linear-gradient(to right, #6057e6, #7a5083);
    border: 1px solid  white;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    font-size: 20px;
    color: aliceblue;
}
body{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #6057e6, #7a5083);
}



@media screen and (min-width: 500px){
    .buttons{
        flex-wrap: wrap;
        flex-direction: row;
    }
}